.product-table {
  padding: 10px;
  position: relative;
  z-index: 0;
  .remove-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
  img {
    width: 200px;
    height: auto;
  }

  h3 {
    width: 280px;
  }

  .product-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
